/* Reseta margens e estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    color: #000;
    line-height: 1.6;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: orange;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #222;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #000;
    margin-top: 10px;
}

/* Imagem principal */
.imagem-principal {
    margin-bottom: 30px;
    text-align: center;
}

.imagem-principal img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Container das imagens menores */
.imagens-menores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.imagem-menor {
    text-align: center;
    width: 45%;
    max-width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagens-menores img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-menor h2 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
}

/* Link de navegação */
a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
    margin: 20px auto; /* Centraliza o link horizontalmente */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    width: fit-content; /* Ajusta o tamanho do link ao conteúdo */
}

a:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Link com fundo de imagem */
.link-com-fundo {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-image: url('fundo-bee-swarm.PNG');
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.link-com-fundo:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
    color: #000;
}
